@import 'variables';

.chakra {
  font-family: 'Chakra Petch', sans-serif !important;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Cabin', sans-serif;

  .currentSong {
    display: flex;
    justify-content: flex-start;
    background-color: $bgColor;
    color: white;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .infos {
      display: flex;
      width: 300px;

      img {
        max-height: 100px;
      }
      h1,
      h2,
      h3 {
        margin: 0;
      }

      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
      }
    }

    .playing {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        padding: 20px 0px;
      }

      .controls {
        display: flex;
        justify-content: space-evenly;

        button.play {
          height: 180px;
          width: 180px;
          border-radius: 50%;
          background-color: #eba0ca;
          border: none;
          &:hover {
            background-color: #cc5197;
            transition: $transition;
          }
        }

        button.prev,
        button.next {
          height: 140px;
          width: 140px;
          border-radius: 50%;
          background-color: #eba0ca;
          border: none;
          &:hover {
            background-color: #cc5197;
            transition: $transition;
          }
        }
      }

      .timeline {
        flex: 1;

        .time {
          display: flex;
          justify-content: space-between;
          margin: 0px 20px 0px 20px;
        }
      }
    }
  }
}
