$border-radius: 20px;

$primary: #c876d3;
$base: #af2fc0;
$shadow-color: #9e27ad;
$lighter-shadow: rgba($shadow-color, 0.7);
$white: #fff;
$gray: #8c8c8c;
$lighter-gray: rgba($gray, 0.1);
$time-line-width: calc(100% - 40px);
$transition: 0.3s all ease;
$bgColor: #1b1b1b;
$lighter-bgColor: #313131;
