@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import "variables";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  font-family: "Cabin", sans-serif;

  .currentSong {
    display: flex;
    justify-content: flex-start;
    background-color: $bgColor;
    color: white;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .infos {
      display: flex;
      width: 300px;

      img {
        max-height: 100px;
      }
      h1,
      h2,
      h3 {
        margin: 0;
      }

      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
      }
    }

    .playing {
      display: flex;
      flex-direction: row;
      background-color: $bgColor;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        padding: 20px 0px;
      }

      .controls {
        display: flex;
        justify-content: space-evenly;
      }

      .timeline {
        flex: 1;

        .time {
          display: flex;
          justify-content: space-between;
          margin: 0px 20px 0px 20px;
        }
      }
    }
  }
}
